In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285398 sha256=42ec5e55539b78f6acb933a7316c42b1e92f1b754fb5d581dc0085a9a5cbdd63
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [2]:
!pip install spark

Collecting spark
  Downloading spark-0.2.1.tar.gz (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.0/41.0 kB 3.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: spark
  Building wheel for spark (setup.py) ... done
  Created wheel for spark: filename=spark-0.2.1-py3-none-any.whl size=58747 sha256=4fd7ed140ae0cafb502b2d8cc5c834e0442e0099a6442413820fcb603f0c0051
  Stored in directory: /root/.cache/pip/wheels/63/88/77/b4131110ea4094540f7b47c6d62a649807d7e94800da5eab0b
Successfully built spark
Installing collected packages: spark
Successfully installed spark-0.2.1

In [22]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql import *
from datetime import date, datetime
import spark

In [28]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("MyApp").getOrCreate()

In [30]:
def log(log_date,error_desc, log_text, row_count):
  schema= StructType([StructField("log_date",StringType(),True),
                      StructField("status",StringType(), True),
                      StructField("log_text", StringType(), True),
                      StructField("row_count",IntegerType(), True),
  ])
  success_list =[(log_date,error_desc,log_text,row_count)]
  logdf = spark.createDataFrame(success_list,schema)
  current_date = str(date.today())
  current_timestamp = str(datetime.strftime(datetime.now(),"%Y%m%d%H%M%S"))
  #logdf.show()
  logdf.coalesce(1).write.mode('append').csv('/content/logfile.csv')

In [34]:
#log(datetime.now().strftime("%Y-%m-%d %H:%M:%S"),'Success','Data read test',1)

DataFrame[log_date: string, status: string, log_text: string, row_count: int]

In [64]:
logdata = spark.read.csv('/content/logfile.csv')
logdata.show()

+-------------------+-------+--------------------+----+
|                _c0|    _c1|                 _c2| _c3|
+-------------------+-------+--------------------+----+
|2023-07-10 08:24:03|Success|Dataset 1 filtere...| 500|
|2023-07-10 07:43:07|Success|Dataset 2 read su...|1000|
|2023-07-10 07:43:05|Success|Dataset 1 read su...|1000|
|2023-07-10 08:27:36|Success|   Rename successful|   1|
|2023-07-10 08:27:12|Success|   Rename successful|   1|
|2023-07-10 07:40:24|Success|      Data read test|   1|
|2023-07-10 07:40:42|Success|      Data read test|   1|
+-------------------+-------+--------------------+----+

In [31]:
# three parameters as per requirement
# parameters can be passed through dbutils

# dbutils.widgets.text('ds1path')
# ds1_path = dbutils.widgets.get('ds1path)
ds1_path='/content/dataset_one.csv'
ds2_path='/content/dataset_two.csv'
country_names = ['United Kingdom', 'Netherlands']

In [35]:
# Read dataset_one and dataset_two based on the paths provided

try:
  ds1 = spark.read.csv(ds1_path, header=True)
  ds1.show()
  # ds1 has country
  ds2 = spark.read.csv(ds2_path, header=True)
  ds2.show()
  # ds2 financial details
  log(datetime.now().strftime("%Y-%m-%d %H:%M:%S"),'Success','Dataset 1 read successful',ds1.count())
  log(datetime.now().strftime("%Y-%m-%d %H:%M:%S"),'Success','Dataset 2 read successful',ds2.count())
except Exception as e:
  log(datetime.now().strftime("%Y-%m-%d %H:%M:%S"),'Failed',e.args,0)

+---+----------+----------+--------------------+--------------+
| id|first_name| last_name|               email|       country|
+---+----------+----------+--------------------+--------------+
|  1|    Feliza|    Eusden|  feusden0@ameblo.jp|        France|
|  2| Priscilla|   Le Pine|plepine1@biglobe....|        France|
|  3|    Jaimie|    Sandes|jsandes2@reuters.com|        France|
|  4|      Nari|   Dolphin|ndolphin3@cbsloca...|        France|
|  5|     Garik|     Farre|gfarre4@economist...|        France|
|  6|   Kordula|   Broodes| kbroodes5@amazon.de|        France|
|  7|     Rakel|   Ingliby|    ringliby6@ft.com| United States|
|  8|      Derk| Mattielli|dmattielli7@slide...| United States|
|  9|    Karrah|   Boshard|   kboshard8@ihg.com|        France|
| 10| Friedrich|  Kreutzer|fkreutzer9@busine...|        France|
| 11|      Conn|   Claiden| cclaidena@vimeo.com|        France|
| 12|     Karel|   Crippin| kcrippinb@google.pl|        France|
| 13| Millisent|     Joint| mjointc@state.tx.us|        France|
| 14|   Valeria|McCloughen| vmccloughend@gov.uk|        France|
| 15|   Monique|  Bernardo|mbernardoe@scient...| United States|
| 16|    Callie|    d'Arcy|cdarcyf@people.co...| United States|
| 17|   Demetri|Bridgwater|dbridgwaterg@youk...| United States|
| 18|   Richard|    Drinan|rdrinanh@odnoklas...|United Kingdom|
| 19|    Benjie|  Stuttman|bstuttmani@cpanel...| United States|
| 20|  Claresta|Martinetto|cmartinettoj@mapy.cz|        France|
+---+----------+----------+--------------------+--------------+
only showing top 20 rows

+---+--------------------+--------------------+------------------+
| id|               btc_a|                cc_t|              cc_n|
+---+--------------------+--------------------+------------------+
|  1|1wjtPamAZeGhRnZfh...|       visa-electron|  4175006996999270|
|  2|1Js9BA1rV31hJFmN2...|                 jcb|  3587679584356527|
|  3|1CoG9ciLQVQCnia5o...| diners-club-enroute|   201876885481838|
|  4|1GNvinVKGzPBVNZSc...|              switch|564182038040530730|
|  5|1DHTzZ7ypu3EzWtLB...|                 jcb|  3555559025151828|
|  6|1LWktvit3XBCJNrsj...|                 jcb|  3580083825272493|
|  7|1J71SRGqUjhqPuHaZ...|              switch|491193585665108260|
|  8|1Q5FAwgXbhRxP1uYp...|          mastercard|  5100174550682620|
|  9|1QKy8RoeWR48nrwkn...|diners-club-carte...|    30343863921001|
| 10|1NRDQBCtuDqm8Qomr...|diners-club-carte...|    30559612937267|
| 11|1HcqQ5Ys77sJm3ZJv...|                visa|     4937793997478|
| 12|1EncEr6Vd5ywk96un...|                 jcb|  3569513122126013|
| 13|14bMXV3h1S6KxGHde...|                 jcb|  3537645802098952|
| 14|1Gi1ZJsBDqCztVjtc...|            bankcard|  5602232103395992|
| 15|1GnNjsnbBTw6w9WHn...|                 jcb|  3558941392668773|
| 16|17y4HG6vY9wDZmeu5...|                 jcb|  3579496825654275|
| 17|14reD6Z1kUjg8QC5Y...|                 jcb|  3563252716889142|
| 18|1ErM8yuF3ytzzxLy1...|      china-unionpay| 56022230876188334|
| 19|1FeH4KecDLZYXEcAu...|          mastercard|  5100176279014886|
| 20|14iPptCE59bQXGocz...|                 jcb|  3531510529019283|
+---+--------------------+--------------------+------------------+
only showing top 20 rows

DataFrame[log_date: string, status: string, log_text: string, row_count: int]

DataFrame[log_date: string, status: string, log_text: string, row_count: int]

In [51]:
# generic function to filter based on country or list of countries

def to_filter(df, country_name):
  df_filtered = df.filter(df['country'].contains(country_name))
  return df_filtered

In [38]:
# generic function to rename column name to be readable

def rename(df,old_name,new_name):
  df_renamed = df.withColumnRenamed(old_name,new_name)
  return df_renamed

In [48]:
t = ds1.filter(ds1['id']=='0')
t.show()

+---+----------+---------+-----+-------+
| id|first_name|last_name|email|country|
+---+----------+---------+-----+-------+
+---+----------+---------+-----+-------+

In [61]:
try:
  for country in country_names:
    print(country)
    f = to_filter(ds1, country)
    f.show()
    t = t.union(f)
  t.show()
  log(datetime.now().strftime("%Y-%m-%d %H:%M:%S"),'Success','Dataset 1 filtered on country successful',t.count())
except Exception as e:
  log(datetime.now().strftime("%Y-%m-%d %H:%M:%S"),'Failed',e.args,0)

United Kingdom
+---+----------+-----------------+--------------------+--------------+
| id|first_name|        last_name|               email|       country|
+---+----------+-----------------+--------------------+--------------+
| 18|   Richard|           Drinan|rdrinanh@odnoklas...|United Kingdom|
| 32|    Wallis|          Bamford|wbamfordv@t-onlin...|United Kingdom|
| 33|   Saundra|          Westall|swestallw@blinkli...|United Kingdom|
| 34|     Ewart|        Rosengren|erosengrenx@usato...|United Kingdom|
| 67|     Lorry|          Beavors|lbeavors1u@techno...|United Kingdom|
| 70|  Freedman|           Dresse|fdresse1x@bloglin...|United Kingdom|
| 91|      Audy|           Eplate|aeplate2i@webeden...|United Kingdom|
|177|   Alfredo|          Wissbey|awissbey4w@geocit...|United Kingdom|
|197|    Penrod|          Volette|  pvolette5g@ask.com|United Kingdom|
|199|   Ermanno|         Surcombe|esurcombe5i@bigca...|United Kingdom|
|294|    Lindie|         MacAskie|lmacaskie85@sina....|United Kingdom|
|329|     Morna|            Nurny|  mnurny94@wikia.com|United Kingdom|
|345|   Thedric|           Costen|   tcosten9k@unc.edu|United Kingdom|
|390|  Latashia|            Blyde| lblydeat@senate.gov|United Kingdom|
|414|  Jessalin|          Gammons|jgammonsbh@goo.ne.jp|United Kingdom|
|482|     Vevay|           Claris|   vclarisdd@aol.com|United Kingdom|
|508|   Cecilio|      Saltsberger|csaltsbergere3@ne...|United Kingdom|
|548|     Lissy|Featherstonehaugh|lfeatherstonehaug...|United Kingdom|
|582|   Loralyn|          Sneezum|lsneezumg5@virgin...|United Kingdom|
|601|      Poul|            Kyncl|pkynclgo@miibeian...|United Kingdom|
+---+----------+-----------------+--------------------+--------------+
only showing top 20 rows

Netherlands
+---+----------+------------+--------------------+-----------+
| id|first_name|   last_name|               email|    country|
+---+----------+------------+--------------------+-----------+
| 36|    Daniel|   Buckthorp|dbuckthorpz@tmall...|Netherlands|
| 62|      Boyd|      Barham|  bbarham1p@wisc.edu|Netherlands|
|105|     Lacie|     Infante|linfante2w@telegr...|Netherlands|
|108|   Rhianna|     Partkya|  rpartkya2z@cdc.gov|Netherlands|
|109|    Marnia|        Dory|    mdory30@uiuc.edu|Netherlands|
|110|     Rhody|     Swindle|rswindle31@tmall.com|Netherlands|
|124|       Wyn|       Darco|wdarco3f@geocitie...|Netherlands|
|128|      Vito|    Napthine|vnapthine3j@ning.com|Netherlands|
|165|     Hilda|    Heinecke|hheinecke4k@alter...|Netherlands|
|189|    Eduard|        Tsar|     etsar58@ovh.net|Netherlands|
|194|     Irena|     Greated| igreated5d@live.com|Netherlands|
|239| Hollyanne|      Golley|hgolley6m@nydaily...|Netherlands|
|248|    Mattie|      Brewer|mbrewer6v@faceboo...|Netherlands|
|255|     Janie|     Knowler|  jknowler72@nba.com|Netherlands|
|293|       Lia|     Ropartz|lropartz84@meetup...|Netherlands|
|296|    Hermia|     Mc Pake|hmcpake87@bravesi...|Netherlands|
|299|       Ced|     Antunez|cantunez8a@bookin...|Netherlands|
|326|    Carlye|       Alred|    calred91@ted.com|Netherlands|
|354|    Willow| Ochterlonie|wochterlonie9t@eb...|Netherlands|
|360|     Blair|De Beauchemp|bdebeauchemp9z@im...|Netherlands|
+---+----------+------------+--------------------+-----------+
only showing top 20 rows

+---+----------+-----------------+--------------------+--------------+
| id|first_name|        last_name|               email|       country|
+---+----------+-----------------+--------------------+--------------+
| 18|   Richard|           Drinan|rdrinanh@odnoklas...|United Kingdom|
| 32|    Wallis|          Bamford|wbamfordv@t-onlin...|United Kingdom|
| 33|   Saundra|          Westall|swestallw@blinkli...|United Kingdom|
| 34|     Ewart|        Rosengren|erosengrenx@usato...|United Kingdom|
| 67|     Lorry|          Beavors|lbeavors1u@techno...|United Kingdom|
| 70|  Freedman|           Dresse|fdresse1x@bloglin...|United Kingdom|
| 91|      Audy|           Eplate|aeplate2i@webeden...|United Kingdom|
|177|   Alfredo|          Wissbey|awissbey4w@geocit...|United Kingdom|
|197|    Penrod|          Volette|  pvolette5g@ask.com|United Kingdom|
|199|   Ermanno|         Surcombe|esurcombe5i@bigca...|United Kingdom|
|294|    Lindie|         MacAskie|lmacaskie85@sina....|United Kingdom|
|329|     Morna|            Nurny|  mnurny94@wikia.com|United Kingdom|
|345|   Thedric|           Costen|   tcosten9k@unc.edu|United Kingdom|
|390|  Latashia|            Blyde| lblydeat@senate.gov|United Kingdom|
|414|  Jessalin|          Gammons|jgammonsbh@goo.ne.jp|United Kingdom|
|482|     Vevay|           Claris|   vclarisdd@aol.com|United Kingdom|
|508|   Cecilio|      Saltsberger|csaltsbergere3@ne...|United Kingdom|
|548|     Lissy|Featherstonehaugh|lfeatherstonehaug...|United Kingdom|
|582|   Loralyn|          Sneezum|lsneezumg5@virgin...|United Kingdom|
|601|      Poul|            Kyncl|pkynclgo@miibeian...|United Kingdom|
+---+----------+-----------------+--------------------+--------------+
only showing top 20 rows

DataFrame[log_date: string, status: string, log_text: string, row_count: int]

In [60]:
# datasets joined on id column - type: inner
# ds is joined dataset with filtered dataset one
try:
  ds = t.join(ds2, how='inner', on='id')
  ds.show()
  log(datetime.now().strftime("%Y-%m-%d %H:%M:%S"),'Success','Join successful',ds.count())
except Exception as e:
  log(datetime.now().strftime("%Y-%m-%d %H:%M:%S"),'Failed',e.args,0)

+---+----------+-----------------+--------------------+--------------+--------------------+--------------------+------------------+
| id|first_name|        last_name|               email|       country|               btc_a|                cc_t|              cc_n|
+---+----------+-----------------+--------------------+--------------+--------------------+--------------------+------------------+
| 18|   Richard|           Drinan|rdrinanh@odnoklas...|United Kingdom|1ErM8yuF3ytzzxLy1...|      china-unionpay| 56022230876188334|
| 32|    Wallis|          Bamford|wbamfordv@t-onlin...|United Kingdom|12sxmYnPcADAXw1Yk...|             maestro| 50387077934280351|
| 33|   Saundra|          Westall|swestallw@blinkli...|United Kingdom|1GZ7QB7GUFSWnkBHm...|          mastercard|  5363176326162847|
| 34|     Ewart|        Rosengren|erosengrenx@usato...|United Kingdom|12o8zrHx6snCPbtko...|       visa-electron|  4175005704373695|
| 67|     Lorry|          Beavors|lbeavors1u@techno...|United Kingdom|12ya1ED93ApPBQRSC...|            bankcard|  5602221992817208|
| 70|  Freedman|           Dresse|fdresse1x@bloglin...|United Kingdom|1F8zXTEaf4AFpztMN...|          mastercard|  5002358263037300|
| 91|      Audy|           Eplate|aeplate2i@webeden...|United Kingdom|19MZSy1H8S4SaXsmS...|diners-club-carte...|    30305687886181|
|177|   Alfredo|          Wissbey|awissbey4w@geocit...|United Kingdom|1AJzqEgbbFh2TNLFZ...|     americanexpress|   374622279517220|
|197|    Penrod|          Volette|  pvolette5g@ask.com|United Kingdom|1Q6UV84patYXfzEdA...| diners-club-enroute|   201687716411559|
|199|   Ermanno|         Surcombe|esurcombe5i@bigca...|United Kingdom|1GYuD7hkkRkCeVcx9...|                 jcb|  3573608384214319|
|294|    Lindie|         MacAskie|lmacaskie85@sina....|United Kingdom|1DNGHS7oy3K38Anzd...|             maestro| 67612873266111276|
|329|     Morna|            Nurny|  mnurny94@wikia.com|United Kingdom|18nNxGMaqhqrt4sZs...|                solo|633485725371257407|
|345|   Thedric|           Costen|   tcosten9k@unc.edu|United Kingdom|17AGnU1HVmvAt8gwZ...|                 jcb|  3529003303335087|
|390|  Latashia|            Blyde| lblydeat@senate.gov|United Kingdom|1FpFASo8TTHYuefzy...|                 jcb|  3547248774351349|
|414|  Jessalin|          Gammons|jgammonsbh@goo.ne.jp|United Kingdom|14mRf7cFYsFjerWYs...|                 jcb|  3551724694519119|
|482|     Vevay|           Claris|   vclarisdd@aol.com|United Kingdom|1477584qcLw6e2Tnt...|       visa-electron|  4405875597637592|
|508|   Cecilio|      Saltsberger|csaltsbergere3@ne...|United Kingdom|1N4UFev4krTiWmC1S...|              switch|675954161233512792|
|548|     Lissy|Featherstonehaugh|lfeatherstonehaug...|United Kingdom|1482bkXGupDD66ypo...|              switch|  5641828546046549|
|582|   Loralyn|          Sneezum|lsneezumg5@virgin...|United Kingdom|18rq3Gymm7G1gaSLa...|          mastercard|  5302169147139056|
|601|      Poul|            Kyncl|pkynclgo@miibeian...|United Kingdom|14GghoTqBDngp1V9P...|                 jcb|  3573360303922594|
+---+----------+-----------------+--------------------+--------------+--------------------+--------------------+------------------+
only showing top 20 rows

In [63]:
# renaming columns

try:
  r1=rename(ds,'btc_a','bitcoin_address')
  r2=rename(r1,'cc_t','credit_card_type')
  r3=rename(r2,'cc_n','credit_card_number')
  r3.show()
  log(datetime.now().strftime("%Y-%m-%d %H:%M:%S"),'Success','Rename successful',1)
except Exception as e:
  log(datetime.now().strftime("%Y-%m-%d %H:%M:%S"),'Failed',e.args,0)

+---+----------+-----------------+--------------------+--------------+--------------------+--------------------+------------------+
| id|first_name|        last_name|               email|       country|     bitcoin_address|    credit_card_type|credit_card_number|
+---+----------+-----------------+--------------------+--------------+--------------------+--------------------+------------------+
| 18|   Richard|           Drinan|rdrinanh@odnoklas...|United Kingdom|1ErM8yuF3ytzzxLy1...|      china-unionpay| 56022230876188334|
| 32|    Wallis|          Bamford|wbamfordv@t-onlin...|United Kingdom|12sxmYnPcADAXw1Yk...|             maestro| 50387077934280351|
| 33|   Saundra|          Westall|swestallw@blinkli...|United Kingdom|1GZ7QB7GUFSWnkBHm...|          mastercard|  5363176326162847|
| 34|     Ewart|        Rosengren|erosengrenx@usato...|United Kingdom|12o8zrHx6snCPbtko...|       visa-electron|  4175005704373695|
| 67|     Lorry|          Beavors|lbeavors1u@techno...|United Kingdom|12ya1ED93ApPBQRSC...|            bankcard|  5602221992817208|
| 70|  Freedman|           Dresse|fdresse1x@bloglin...|United Kingdom|1F8zXTEaf4AFpztMN...|          mastercard|  5002358263037300|
| 91|      Audy|           Eplate|aeplate2i@webeden...|United Kingdom|19MZSy1H8S4SaXsmS...|diners-club-carte...|    30305687886181|
|177|   Alfredo|          Wissbey|awissbey4w@geocit...|United Kingdom|1AJzqEgbbFh2TNLFZ...|     americanexpress|   374622279517220|
|197|    Penrod|          Volette|  pvolette5g@ask.com|United Kingdom|1Q6UV84patYXfzEdA...| diners-club-enroute|   201687716411559|
|199|   Ermanno|         Surcombe|esurcombe5i@bigca...|United Kingdom|1GYuD7hkkRkCeVcx9...|                 jcb|  3573608384214319|
|294|    Lindie|         MacAskie|lmacaskie85@sina....|United Kingdom|1DNGHS7oy3K38Anzd...|             maestro| 67612873266111276|
|329|     Morna|            Nurny|  mnurny94@wikia.com|United Kingdom|18nNxGMaqhqrt4sZs...|                solo|633485725371257407|
|345|   Thedric|           Costen|   tcosten9k@unc.edu|United Kingdom|17AGnU1HVmvAt8gwZ...|                 jcb|  3529003303335087|
|390|  Latashia|            Blyde| lblydeat@senate.gov|United Kingdom|1FpFASo8TTHYuefzy...|                 jcb|  3547248774351349|
|414|  Jessalin|          Gammons|jgammonsbh@goo.ne.jp|United Kingdom|14mRf7cFYsFjerWYs...|                 jcb|  3551724694519119|
|482|     Vevay|           Claris|   vclarisdd@aol.com|United Kingdom|1477584qcLw6e2Tnt...|       visa-electron|  4405875597637592|
|508|   Cecilio|      Saltsberger|csaltsbergere3@ne...|United Kingdom|1N4UFev4krTiWmC1S...|              switch|675954161233512792|
|548|     Lissy|Featherstonehaugh|lfeatherstonehaug...|United Kingdom|1482bkXGupDD66ypo...|              switch|  5641828546046549|
|582|   Loralyn|          Sneezum|lsneezumg5@virgin...|United Kingdom|18rq3Gymm7G1gaSLa...|          mastercard|  5302169147139056|
|601|      Poul|            Kyncl|pkynclgo@miibeian...|United Kingdom|14GghoTqBDngp1V9P...|                 jcb|  3573360303922594|
+---+----------+-----------------+--------------------+--------------+--------------------+--------------------+------------------+
only showing top 20 rows

DataFrame[log_date: string, status: string, log_text: string, row_count: int]

In [86]:
# selecting required columns

final_ds = r3.select('email','country','bitcoin_address','credit_card_type')
final_ds.show()

+--------------------+--------------+--------------------+--------------------+
|               email|       country|     bitcoin_address|    credit_card_type|
+--------------------+--------------+--------------------+--------------------+
|rdrinanh@odnoklas...|United Kingdom|1ErM8yuF3ytzzxLy1...|      china-unionpay|
|wbamfordv@t-onlin...|United Kingdom|12sxmYnPcADAXw1Yk...|             maestro|
|swestallw@blinkli...|United Kingdom|1GZ7QB7GUFSWnkBHm...|          mastercard|
|erosengrenx@usato...|United Kingdom|12o8zrHx6snCPbtko...|       visa-electron|
|lbeavors1u@techno...|United Kingdom|12ya1ED93ApPBQRSC...|            bankcard|
|fdresse1x@bloglin...|United Kingdom|1F8zXTEaf4AFpztMN...|          mastercard|
|aeplate2i@webeden...|United Kingdom|19MZSy1H8S4SaXsmS...|diners-club-carte...|
|awissbey4w@geocit...|United Kingdom|1AJzqEgbbFh2TNLFZ...|     americanexpress|
|  pvolette5g@ask.com|United Kingdom|1Q6UV84patYXfzEdA...| diners-club-enroute|
|esurcombe5i@bigca...|United Kingdom|1GYuD7hkkRkCeVcx9...|                 jcb|
|lmacaskie85@sina....|United Kingdom|1DNGHS7oy3K38Anzd...|             maestro|
|  mnurny94@wikia.com|United Kingdom|18nNxGMaqhqrt4sZs...|                solo|
|   tcosten9k@unc.edu|United Kingdom|17AGnU1HVmvAt8gwZ...|                 jcb|
| lblydeat@senate.gov|United Kingdom|1FpFASo8TTHYuefzy...|                 jcb|
|jgammonsbh@goo.ne.jp|United Kingdom|14mRf7cFYsFjerWYs...|                 jcb|
|   vclarisdd@aol.com|United Kingdom|1477584qcLw6e2Tnt...|       visa-electron|
|csaltsbergere3@ne...|United Kingdom|1N4UFev4krTiWmC1S...|              switch|
|lfeatherstonehaug...|United Kingdom|1482bkXGupDD66ypo...|              switch|
|lsneezumg5@virgin...|United Kingdom|18rq3Gymm7G1gaSLa...|          mastercard|
|pkynclgo@miibeian...|United Kingdom|14GghoTqBDngp1V9P...|                 jcb|
+--------------------+--------------+--------------------+--------------------+
only showing top 20 rows